@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background-color: rgb(211, 157, 9);
    font-family: 'Lato', sans-serif;
}


.rectleft {
    width: 50%;
    height: 95%;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: fixed;
    background-color: lightgray;
    z-index: -1;
  }

.rectright {
    width: 48%;
    height: 95%;
    margin-left: 50%;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: fixed;
    background-color: white;
    z-index: -1;
  }

.newgame {
    float: left;
    position: relative;
    margin-top: 80px;
    font-size: larger;
}


.rolldice {
    float: left;
    position: relative;
    margin-top: 160px;
    font-size: larger;
}

.holdbutton {
  float: left;
  position: relative;
  margin-top: 20px;
  font-size: larger;
}


.iconcolor {
    color: red;
    margin-right: 10px;
    font-size: larger;
}

.player {
  margin-top: 120px;
  font-size: 25px;
}

.currentbox {
  height: 80px;
  width: 100px;
  background-color: rgb(233, 90, 55);
  margin-top: 150px;
  margin-left: 20px;
}

.score {
  color: red;
  font-size: 50px;
}

.currentscore {
  color: white;
  font-size: 35px;
}

.image {
  width: 90px;
  height: 90px;
  margin-top: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pointer {
  cursor: pointer;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: rgb(214, 26, 26);
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 20px;
}


@media screen and (min-width: 768px) {
  .player {
    margin-top: 120px;
    font-size: 70px;
  }
  .score {
    color: red;
    font-size: 100px;
  }
  .dot {
    height: 15px;
    width: 15px;
    background-color: rgb(214, 26, 26);
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 20px;
  }
  .image {
    width: 150px;
    height: 150px;
    margin-top: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .currentbox {
    height: 100px;
    width: 180px;
    background-color: rgb(233, 90, 55);
    margin-top: 250px;
    margin-left: 100px;
  }
  .currentscore {
    color: white;
    font-size: 50px;
  }
  .newgame {
    float: left;
    position: relative;
    margin-top: 80px;
    font-size: 30px;
  }
  .rolldice {
    float: left;
    position: relative;
    margin-top: 280px;
    font-size: 30px;
  }

  .holdbutton {
    float: left;
    position: relative;
    margin-top: 20px;
    font-size: 30px;
  }
}


@media screen and (min-width: 992px) {
  .player {
    margin-top: 120px;
    font-size: 70px;
  }
  .score {
    color: red;
    font-size: 100px;
  }
  .dot {
    height: 15px;
    width: 15px;
    background-color: rgb(214, 26, 26);
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 20px;
  }
  .image {
    width: 150px;
    height: 150px;
    margin-top: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .currentbox {
    height: 100px;
    width: 180px;
    background-color: rgb(233, 90, 55);
    margin-top: 180px;
    margin-left: 320px;
  }
  .currentscore {
    color: white;
    font-size: 50px;
  }
  .rolldice {
    float: left;
    position: relative;
    margin-top: 130px;
    font-size: 30px;
  }
  .holdbutton {
    float: left;
    position: relative;
    margin-top: 20px;
    font-size: 30px;
  }
}


