body {
    background-color: rgb(211, 157, 9);
}


.rectleft {
    width: 50%;
    height: 95%;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: fixed;
    background-color: lightgray;
  }

.middle {
    float: left;
    position: relative;
}

.rectright {
    width: 50%;
    height: 95%;
    margin-left: 49%;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: fixed;
    background-color: white;
    z-index: -1;
  }


